<!DOCTYPE html>
<style>
#demo {
  background-color: #000;
  padding: 1.4em 1.5em 0;
}

.item {
  box-sizing: border-box;
  vertical-align: top;
  margin: 0 -2px;
  padding: 1em;
  width: 50%;
}
.texto {
 font-size: 18px;
 font-family: Arial;

/* mobile layout */
@media (max-width: 900px) {
  .item { width: 100% }
}
</style>

<head>
  <title>Stream de video com Flowplayer</title>
  <link rel="stylesheet" href="https://releases.flowplayer.org/7.2.7/skin/skin.css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://releases.flowplayer.org/7.2.7/flowplayer.min.js"></script>
</head>
<body>
  {% for filme in filmes %}
  <div class="item">
	  <div class="texto">
		<b>Arquivo:</b> {{ filme }}<br>
	  </div>
	  <div class="flowplayer">
		<video>
		  <source type="video/mp4"
				  src="/static/{{ filme }}">
		  </video>
	  </div>
	</div>
	{% endfor %}
</body>
